* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
}
/*var*/
:root{
    --verde-principal: #2e7d32;
    --verde-claro: #66bb6a;
    --verde-escuro: #1b5e20;
    --branco: #FFFFFF;
    --cinza: #f5f5f5;
    --texto: #333333;
}
body{
    background-color: var(--cinza);
    color: var(--texto);
    font-family: Arial, sans-serif;
}
header{
    background-color: var(--verde-escuro);
    top:0;
    position: sticky;
    z-index: 999;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: auto;
    max-width: 1200px;
}
.logo h1{
    color: var(--branco);
}
nav ul{
    list-style: none;
    display: flex;
    gap:25px;
}
nav a{
    color: var(--branco);
    text-decoration: none;
    transition:  0.3s;
}
nav a:hover{
    color: var(--verde-claro);
}
.hero{
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 50px;
    justify-content: center;
    background: linear-gradient(135deg, var(--verde-escuro), var(--verde --verde-principal));  
}
.hero-texto{
    max-width: 500px;
}
.hero-texto h2{
    color: var(--branco);
    font-size: 3rem;
    margin-bottom: 20px;
}
.hero-texto p{
    color: var(--branco);
    line-height: 1.6;
}
.hero-img img{
    width: 450px;
}
